@charset "utf-8";

/*测试 cssgrace */

.foo {
    clear: fix;
}

.bar {
    clear: fix;
    overflow: hidden;
    /* 已经可以闭合浮动了 */
}

.xx::after {
    position: center;
    width: 210px;
    height: 80px;
    background: rgba(112, 26, 0, .3);
}

.yy {
    display: inline-block;
    opacity: .5;
}



.cc {
    background: url(../img/1.jpg);

}

.cc {
    background: url(../img/1.jpg);
 
}

.dd {
    position: center;
    width: 300px;
    height: 123px;
}


.ee {
  position: absolute;
  display: block;
}

.ee {
  position: center;
  display: block;
}

.ee {
  float: left;
  display: block;
}


.ff {
  position: absolute;
  float: left;
}


.hh {
  text-overflow: ellipsis;
}

.hh {
  text-overflow: ellipsis;
  overflow: auto;
  white-space: normal;
}


.yy {
  opacity: .6;
}

.yy {
  opacity: 0.8293;
}


.zz {
  background: rgba(153, 85, 102, 0.3);
}


.ww {
  display: inline-block;
}