@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, hr, p,dl, dt, dd, ul, ol, li, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
body,button, input, select, textarea {
    font: 14px/1.5 Helvetica, Tahoma, Arial,"Microsoft YaHei", "微软雅黑", STXihei,"华文细黑", SimSun, "\5b8b\4f53", Heiti, "黑体",sans-serif;
}
h1 { font-size: 20px;}
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4, h5, h6 { font-size: 100%; }
small { font-size: 12px; }
ul, ol { list-style: none; }
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #3CA5D5;
  text-decoration: underline;
}
a:active,
a:hover {
  outline: 0;
}

